<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
  <div id="firstpoint">  请点击曲线确定点1：</div>
  <div id="secondpoint">  请点击曲线确定点2：</div>
  <div id="datapush">
	<form id="stock" action="/datapush/">
	<input type="hidden"  id="myItems" >
	<input type="hidden"  id="pushPoint" >
      <input type="submit" value="上报数据" />
	</form>
  </div>
    <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="/views/static/echarts/echarts.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>	
	   <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.js"></script>

<script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
var upColor = '#ec0000';
var upBorderColor = '#8A0000';
var downColor = '#00da3c';
var downBorderColor = '#008F28';

var code = {{.code}}
var datesize = {{.datesize}}
// 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
var data1 = new Array();
var data2 = new Array();
var data3 = new Array();

function Item(date, highpx, lowpx) {
    this.date = date;
    this.highpx = highpx;
    this.lowpx = lowpx;
}

var myItems = [
];
var data1 = [
];
var data2 = [
];
var data3 = [
];
var ecConfig = echarts.config; 
var start=0
var pushPoint=[]

option = {
    title : {
        text: '股票日线',
        subtext: pushPoint
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['最高线','最低线']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
	dataZoom:{
		show:true,
		realtime:true,
		start:0,
		end:100
	},
    xAxis : [
        {
            type : 'category',
            boundaryGap : true,
            data : data1
        }
    ],
    yAxis : [
        {
            type : 'value',
        	scale: true,
            axisLabel : {
                formatter: '{value} RMB'
            }
        }
    ],
    series : [
        {
            name:'最高线',
            type:'line',
            data:data2,
			 markLine: {
                symbol: ['none', 'none'],
                lineStyle: {
                    emphasis :{
                         color: 'rgb(80,33,85)'
                    }
                },
            }
        },
        {
            name:'最低线',
            type:'line',
            data:data3,
			 markLine: {
                symbol: ['none', 'none'],
                lineStyle: {
                    emphasis :{
                         color: 'rgb(80,33,85)'
                    }
                },
            }
        }
    ],        
};



	$.ajax({
      url: "http://127.0.0.1/stockdatedata/"+code+"/"+datesize,
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
          $.each(result.historydatas, function(index, data){
			myItems.push(new Item(data.date, data.highpx, data.lowpx));
              data1.push(data.date);
              data2.push(data.highpx);
			  data3.push(data.lowpx);
          });	
      }
  	});



function recordFirstPoint(index){
	pushPoint=[]
	pushPoint.push(index)
}
function recordSecondPoint(index){
	pushPoint.push(index)
}
function eConsole(param) {
    var mes = '【' + param.type + '】';
    if (typeof param.seriesIndex != 'undefined') {
		if (start==0){
			recordFirstPoint(param.dataIndex)
			start=1
	document.getElementById("firstpoint").innerHTML = "  请点击曲线确定点1："+pushPoint;
<!--			window.location.href="http://127.0.0.1/draw/?code=000158.SZ&date=2018-01-01&datesize=120";  -->
		}else{
		    recordSecondPoint(param.dataIndex)
			start=0
	document.getElementById("secondpoint").innerHTML = "  请点击曲线确定点2："+pushPoint[1];
<!--			window.location.href="http://127.0.0.1/draw/?code=000158.SZ&date=2018-01-01&datesize=120";  -->
		}
	console.log(param.dataIndex);
	console.log(param.name);
	console.log(param.data);
	console.log(pushPoint);
    }
}
myChart.on('click',eConsole);
  
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}

document.getElementById("myItems") = myItems;  
document.getElementById("pushPoint") = pushPoint;  
</script>
   </body>
</html>