<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%">
	<div id="main" onmousedown = "mousedown()"></div>
	</div>
       <script type="text/javascript" src="/views/static/echarts/echarts.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>	
	   <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.js"></script>


<script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
var upColor = '#ec0000';
var upBorderColor = '#8A0000';
var downColor = '#00da3c';
var downBorderColor = '#008F28';

var code = {{.code}}
var datesize = {{.datesize}}
// 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
var data1 = new Array();
var data2 = new Array();
var data3 = new Array();


	$.ajax({
      url: "http://127.0.0.1/stockdatedata/"+code+"/"+datesize,
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
          $.each(result.historydatas, function(index, data){
              data1.push(data.date);
              data2.push(data.highpx);
			  data3.push(data.lowpx);
          });	
      }
  	});
  

option = {
    title : {
        text: '走势图',
        subtext: '纯属虚构'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['最高线','最低线']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : true,
            data : data1
        }
    ],
    yAxis : [
        {
            type : 'value',
        	scale: true,
            axisLabel : {
                formatter: '{value} RMB'
            }
        }
    ],
    series : [
        {
            name:'最高线',
            type:'line',
            data:data2,
			 markLine: {
                symbol: ['none', 'none'],
                lineStyle: {
                    emphasis :{
                         color: 'rgb(80,33,85)'
                    }
                },
            }
        },
        {
            name:'最低线',
            type:'line',
            data:data3,
			 markLine: {
                symbol: ['none', 'none'],
                lineStyle: {
                    emphasis :{
                         color: 'rgb(80,33,85)'
                    }
                },
            }
        }
    ],
	           
};
                   
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}

</script>
   </body>
</html>