<!DOCTYPE html>
<html lang="zh">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
		<meta http-equiv="refresh" content="20">
		<link rel="stylesheet" type="text/css" href="css/jquery.jscrollpane.custom.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
	    <link href="https://bbbzy7qqt.lsiyan.com/Content/mapping/a018/home/css/report.css?57c3bc0a8e" rel="stylesheet" />
   		 <link href="https://bbbzy7qqt.lsiyan.com/Content/mapping/a018/officialGames/css/result.css?ec0acd91ba" rel="stylesheet" />
		<script type="text/javascript" src="js/head.min.js"></script>
    	<script src="https://bbbzy7qqt.lsiyan.com/Scripts/Common/jquery-1.11.3.min.js?a05f16c4c4"></script>
    	<script src="https://bbbzy7qqt.lsiyan.com/Scripts/Common/vue2/vue.min.js?c7992a0944"></script>

		<noscript>
			<style>
				@media screen and (max-width: 715px) {
					.hs-content-scroller{
						overflow: visible;
					}
				}
			</style>
		</noscript>
    </head>
    <body>
        <div id="hs-container" class="hs-container">
			<aside class="hs-menu" id="hs-menu">
				<div class="hs-headline">
					<h1><small></small> Go Go Go <small></small></h1>
					<span class="hs-author">τα κότσια του πλούτου από μια σοφία</span>
				</div>
				<nav>
					<a href="#chapter1"><span>δεδομένα</span></a>
					<a href="#chapter2"><span>Σχέδιο</span></a>
					<a href="#chapter3"><span>αλγόριθμο.</span></a>
					<a href="#chapter4"><span>Σχέδιο2</span></a>
				</nav>
			</aside>
			<a href="#hs-menu" class="hs-totop-link">Go to the top</a>
			<div class="hs-content-scroller">
				<div class="hs-content-wrapper">
					<article class="hs-content" id="chapter1">
					    <div class="hs-inner">
							<h2>δεδομένα</h2>
						<div id=loadnumbers></div>
                        </div> 
					</article>
					<article class="hs-content" id="chapter2">
					    <div class="hs-inner">
							<h2>Σχέδιο</h2>
                                <div id=getplans></div>
                                <div>
                                    <audio id="ttt">
                                    <source src="/views/ttt.mp3" type="audio/mp3" >
                                    </audio>
                                </div>
					    </div>
					</article>
					<article class="hs-content" id="chapter3">
					    <div class="hs-inner">
							<h2>αλγόριθμο.</h2>		
                                <div id=putnumbers></div>
                                <div id=statistc></div>
                                <div></div>
                                <div>-------------------------------------------------------------------------------</div>
                                <div id=missnumbers></div>

                            </div>
					</article>
                                       <article class="hs-content" id="chapter4">
                                            <div class="hs-inner">
                                                        <h2>Σχέδιο2</h2>
                                            <div id=newgetplans></div>
                                            </div>
                                        </article>

				</div>
			</div>
        </div>
		<script type="text/javascript">
			head.js(
				{ jquery : "js/jquery-1.7.2.min.js" },
				{ mousewheel : "js/jquery.mousewheel.js" },
				{ mwheelIntent : "js/mwheelIntent.js" },
				{ jScrollPane : "js/jquery.jscrollpane.min.js" },
				{ history : "js/jquery.history.js" },
				{ stringLib : "js/core.string.js" },
				{ easing : "js/jquery.easing.1.3.js" },
				{ smartresize : "js/jquery.smartresize.js" },
				{ page : "js/jquery.page.js" }
			);
	
var html = ""
var misshtml = ""
var puthtml = ""
var newputhtml = ""
var planhtml=""
var newplanhtml=""
var statistchtml=""
	$.ajax({
      url: "/lotterydata/50",
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
          $.each(result.historydatas, function(index, data){
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[0]+"---|</span>";
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[1]+"|</span>";
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[2]+"|</span>";   
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[3]+"|</span>";   
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[4]+"|</span>";   
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[5]+"|</span>";   
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[6]+"|</span>";   
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[7]+"|</span>";   
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[8]+"|</span>";   
          html += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[9]+"|</span>";   
          html += " <span style=\"font-size: 20px ;\" class=\"tz_blueball\">"+data[10]+"|</span>";  
          html += "<div style=\"font-size: 20px ;\"></div>"; 
          });	
		  document.getElementById("loadnumbers").innerHTML = (html);
      }
  	});

$.ajax({
      url: "http://54.250.253.42:8888/missdatalist/180",
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
          $.each(result.historydatas, function(index, data){
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[0]+"---|</span>";
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[1]+"|</span>";
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[2]+"|</span>";
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[3]+"|</span>";
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[4]+"|</span>";
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[5]+"|</span>";
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[6]+"|</span>";
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[7]+"|</span>";
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[8]+"|</span>";
          misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data[9]+"|</span>";
          misshtml += " <span style=\"font-size: 20px ;\" class=\"tz_blueball\">"+data[10]+"|</span>";
          misshtml += "<div style=\"font-size: 20px ;\"></div>";
          });
                  document.getElementById("missnumbers").innerHTML = (misshtml);
      }
        });

$.ajax({
      url: "/putdata/",
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
	     puthtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">P：</span>";
		 $.each(result, function(index, data){
	
		  puthtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\"> "+data+"</span>";
          });	
          puthtml += "<div style=\"font-size: 20px ;\"></div>"; 	
		  document.getElementById("putnumbers").innerHTML = (puthtml);
		
      }
  	});

var realtime=0

$.ajax({
      url: "/plan/",
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
	     planhtml += " <span style=\"font-size: 1px;\" class=\"tz_blueball\"></span>";
		 $.each(result.reverse(), function(index, data){
	 	  planhtml += "<div style=\"font-size: 10px ;\"></div>"; 
		  planhtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\"> "+data.currentPierod+"-["+data.numberList+"]</span>"+" <span style=\"font-size: 20px;\" class=\"tz_blueball\"> -("+data.putTime+")</span>"     
		 if (index==0){
		     realtime = data.realPutTime
		 }
		
		  if (data.status=="等开"){
			  planhtml += " <span style=\"font-size: 15px;\" class=\"tz_blueball\">-D</span>"
		  }
		  if (data.status=="中"){
			  planhtml += " <span style=\"font-size: 15px;\" class=\"tz_blueball\">-Z</span>"
		  }
		  if (data.status=="倍投"){
			  planhtml += " <span style=\"font-size: 15px;\" class=\"tz_blueball\">-B</span>"
		  }

		  planhtml += " <span style=\"font-size: 18px;\" class=\"tz_blueball\"> -["+data.createTime+"]</span>" ;
		
          });	
          planhtml += "<div style=\"font-size: 10px ;\"><p></p></div>"; 	

		  document.getElementById("getplans").innerHTML = (planhtml);	

      }
  	});

$.ajax({
      url: "http://54.250.253.42:8888/newplan/",
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
             newplanhtml += " <span style=\"font-size: 1px;\" class=\"tz_blueball\"></span>";
                 $.each(result.reverse(), function(index, data){
                  newplanhtml += "<div style=\"font-size: 10px ;\"></div>";
                  newplanhtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\"> "+data.currentPierod+"-["+data.numberList+"]</span>"+" <span style=\"font-size: 20px;\" class=\"tz_blueball\"> -("+data.putTime+")</span>"
                 if (index==0){
                     realtime = data.realPutTime
                 }

                  if (data.status=="等开"){
                          newplanhtml += " <span style=\"font-size: 15px;\" class=\"tz_blueball\">-D</span>"
                  }
                  if (data.status=="中"){
                          newplanhtml += " <span style=\"font-size: 15px;\" class=\"tz_blueball\">-Z</span>"
                  }
                  if (data.status=="倍投"){
                          newplanhtml += " <span style=\"font-size: 15px;\" class=\"tz_blueball\">-B</span>"
                  }

                  newplanhtml += " <span style=\"font-size: 18px;\" class=\"tz_blueball\"> -["+data.createTime+"]</span>" ;

          });
          newplanhtml += "<div style=\"font-size: 10px ;\"><p></p></div>";
          document.getElementById("newgetplans").innerHTML = (newplanhtml);
         }
        });

	audio=document.getElementById("ttt");	
	console.log(realtime)
	if (realtime>0){
	   	audio.onloadstart=audio.play();
	}

$.ajax({
      url: "http://54.250.253.42:8888/getdatedata/",
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
                 $.each(result, function(index, data){
                  statistchtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\"> ("+index+"次数:"+data+")  </span>";
          });

          document.getElementById("statistc").innerHTML = statistchtml ;
         }
        });


	</script>
    </body>
</html>

