
var misshtml = ""
$.ajax({
      url: "http://127.0.0.1/missdata/",
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
          $.each(result, function(index, data){
		  misshtml += " <span style=\"font-size: 20px;\" class=\"tz_blueball\">"+data+"期号码</span>";
          misshtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\">"+data+" </span>";
          misshtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\">"+data+" </span>";   
          misshtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\">"+data+" </span>";   
          misshtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\">"+data+" </span>";   
          misshtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\">"+data+" </span>";   
          misshtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\">"+data+" </span>";   
          misshtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\">"+data+" </span>";   
          misshtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\">"+data+" </span>";   
          misshtml += " <span style=\"font-size: 24px;\" class=\"tz_blueball\">"+data+" </span>";   
          misshtml += " <span style=\"font-size: 24px ;\" class=\"tz_blueball\">"+data+"</span>";  
          misshtml += "<div style=\"font-size: 20px ;\"></div>"; 
          });	
		  document.getElementById("missnumbers").innerHTML = (misshtml);
      }
  	});-->
$.ajax({
      url: "http://127.0.0.1/putdata/",
      async: false,
      type: "GET",
      dataType: "JSON",
      success:function(result){
          $.each(result, function(index, data){
	  		console.log(data)
          });	
		  document.getElementById("putnumbers").innerHTML = (html);
      }
  	});